@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Philosopher-Regular;
  src: url("/src/assets/Philosopher-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Philosopher-Bold;
  src: url("/src/assets/Philosopher-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

#app {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

a {
  color: #60b5cc;
}